name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install docker 
      uses: docker/setup-buildx-action@v3.12.0
    - name: Docker Login
      uses: docker/login-action@v3.6.0
      with:
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_HUB_SECRET}}
    - name: Docker Push
      uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: ${{secrets.DOCKER_USERNAME}}/demo/${{github.run_id}}
